[pipeline]
name = "Simple TOML pipeline"
description = "Simple test pipeline based on TOML"

[[steps]]
name = "read_data"
type = "ingest"
output_table = "test_table"
source = "./data/customers.csv"
source_fields = ["name", "email"]

[[steps]]
name = "clean_data"
type = "transform"
input_table = "test_table"
output_table = "cleaned"
transforms = [
  { field = "name", fn = "lower" },  # Name to uppercase
  { field = "email", fn = "upper" },  # Mask email
]

[[steps]]
name = "write_output"
type = "sink"
input_table = "cleaned"
destination = "output/customers.xlsx"
